<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static%}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/app.css">
    <script src="../static/js/app.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header>
            {%block encabezado %}
            {% endblock %}
        </header>
        <nav>
            {%block menu %}
            {% endblock %}
        </nav>
        <section>
            {%block contenido %}
            {% endblock %}
        </section>
        <footer class="text-center mt-5">
        </footer>
    </div>
</body>
</html>