{%extends "index.html"%}

{%block encabezado%}
    {%include "encabezado.html" %}
{%endblock%}

{%block menu%}
    {%include "tecnico/menu.html"%}
{%endblock%}

{%block contenido%}
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.1/js/dataTables.buttons.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.print.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.0.1/css/buttons.dataTables.css">

<link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css">

<h3 class="fw-bold text-center">Lista de casos asignados</h3>
    <table class="table table-bordered mt-3 text-center" id="tblCasos">
        <thead class="text-center">
            <tr>
                <th>Empleado</th>
                <th>Descripcion</th>
                <th>Oficina-Ambiente</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            {%for caso in listaCasos%}
                <tr>
                    <td>{{caso.casSolicitud.solUsuario.first_name}}
                        {{caso.casSolicitud.solUsuario.last_name}}</td>
                    <td>{{caso.casSolicitud.solDescripcion}}</td>
                    <td>{{caso.casSolicitud.solOficinaAmbiente.ofiNombre}}</td>
                    <td>{{caso.casSolicitud.fechaHoraCreacion}}</td>
                    <td>{{caso.casEstado}}</td>
                    <td class="text-center">
                        <i id="btnAbrirModal" onclick="agregarIdCaso('{{caso.id}}')" class="fa fa-check-square-o" style="color: #ffa500;" data-bs-toggle="modal" data-bs-target="#modalSolucionCaso"></i>
                    </td>
                </tr>
            {%endfor%}
        </tbody>
        
    </table>
    <!-- Button to Open the Modal -->
 <!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalTecnicos">
    Open modal
  </button>-->
  
  <!-- The Modal -->
  <div class="modal" id="modalSolucionCaso">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Respuesta Solicitud Caso</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">    
          <form action="/solucionarCaso/" method="post" >
            {% csrf_token %}
            <div class="mb-3">
                <label for="txtProcedimiento" class="fw-bold">Procedimiento</label>
                <textarea name="txtProcedimiento" id="" rows="5" cols="10" 
                class="form-control" placeholder="Haga una descripcion del procedimiento realizado"></textarea>
            </div>
            <div class="mb-3">
                <label for="cbTipoProcedimiento" class="fw-bold">Tipo Procedimiento</label>
                <select name="cbTipoProcedimiento" id="cbTipoProcedimiento" class="form-select">
                    <option value="">Seleccione</option>
                    {%for tipoProcedimiento in listarTipoProcedimiento%}
                        <option value="{{tipoProcedimiento.id}}">
                            {{tipoProcedimiento.tipNombre}}
                        </option>
                    {%endfor%}
                </select> 
            </div>
            <div class="mb-3">
                <label for="cbTipoSolucion" class="fw-bold">Tipo Solucion</label>
                <select name="cbTipoSolucion" id="cbTipoSolucion" class="form-select">
                    <option value="">Seleccione</option>
                    {%for tipoSolucion in listaTipoSolucion%}
                        <option value="{{tipoSolucion.0}}">
                            {{tipoSolucion.0}}
                        </option>
                    {%endfor%}
                </select> 
            </div>
            <input type="hidden" name="idCaso" id="idCaso" value="39">
            <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Registrar</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
          </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
            
        </div>
  
      </div>
    </div>
  </div>
    <script>
        new DataTable('#tblCasos', {
            layout: {
                topStart: {
                    buttons: ['excel', 'pdf', 'print']
                }
            }
        });
    </script>

{%endblock%}
